* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --bg_gray_semi_TP_color: rgba(151, 151, 151, 0.338);
    --checked_gray_semi_TP_color: rgba(147, 147, 147, 0.54);
    --border_gray_semi_TP_color: rgba(123, 123, 123, 0.595);
    --mobile_box_padding: 12px 1rem;
}

/* ======================================================= */
/* ------------------------ NavBar ----------------------- */
/* ======================================================= */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--mobile_box_padding);
    background-color: var(--bg_gray_semi_TP_color);
    border-bottom: 1px solid var(--border_gray_semi_TP_color);
}

nav .title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

nav .title span {
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-weight: 700;
    margin-inline: 12px;
    text-transform: uppercase;
}

nav .title img {
    height: 50px;
}


nav .title::before {
    content: "";
    position: absolute;
    width: 0rem;
    height: 2px;
    background-color: var(--bg_gray_semi_TP_color);
    left: 45px;
    bottom: 5px;
    transition: 1s;
}

nav .title:hover:before {
    width: 9rem;
}


nav svg {
    cursor: pointer;
    opacity: .5;
    transition: all 1s;
}

nav svg:hover {
    opacity: 1;
    transform: rotate(280deg);
}

#light-mood {
    display: none;
    filter: invert(1);
}



/* ============0=========================================== */
/* ----------- ArtBoard Section Utalities ----------------- */
/* ======================================================= */


.tools-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px;
    background-color: var(--bg_gray_semi_TP_color);
    border-bottom: 1px solid var(--border_gray_semi_TP_color);
}

input[type="radio"] {
    display: none;

    &:not(:disabled)~label {
        cursor: pointer;
    }
}

.tools-container input[type="radio"]:checked + label{
    background-color:var(--checked_gray_semi_TP_color) ;
}

.tools-container label{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--mobile_box_padding);
}

.tools-container label svg {
    margin: 0px 6px;
}

.tools-container label span {
    display: none;
}

#select-color {
    overflow: hidden;
    margin: 0px 6px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

#select-color::-webkit-color-swatch-wrapper {
    padding: 0;
}

.set-artBoard-size {
    padding: var(--mobile_box_padding);
    background-color: var(--bg_gray_semi_TP_color);
    border-bottom: 1px solid var(--border_gray_semi_TP_color);
    border-radius: 0px 0px 20px 20px;

}

.set-artBoard-size input {
    width: 100%;
}

/* ============0=========================================== */
/* ------------------ ArtBoard Section -------------------- */
/* ======================================================= */

.artBoard-section{
    border-radius: 20px;
    margin: 2rem 0px;
    padding: 1rem;
    width: 100%;
    aspect-ratio: 1;
    background-color: var(--bg_gray_semi_TP_color);
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    background-color: white;
  }

  .content {
    background-color: white;
  }
  






/* ============0=========================================== */
/* ---------------- Different Screens -------------------- */
/* ======================================================= */

@media (min-width: 400px) {
    .tools-container label span {
        display: block;
    }

}