* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root{
    --bg_gray_semi_TP_color:  rgba(151, 151, 151, 0.338);
    --border_gray_semi_TP_color: rgba(123, 123, 123, 0.595);
    --mobile_box_padding: 12px 1rem;
}

/* ======================================================= */
/* ------------------------ NavBar ----------------------- */
/* ======================================================= */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:var(--mobile_box_padding);
    background-color:var(--bg_gray_semi_TP_color);
    border-bottom: 1px solid var(--border_gray_semi_TP_color);
}

nav .title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

nav .title span {
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-weight: 700;
    margin-inline: 12px;
    text-transform: uppercase;
}

nav .title img {
    height: 50px;
}


nav .title::before {
    content: "";
    position: absolute;
    width: 0rem;
    height: 2px;
    background-color:var(--bg_gray_semi_TP_color);
    left: 45px;
    bottom: 5px;
    transition: 1s;
}

nav .title:hover:before {
    width: 9rem;
}


nav svg {
    cursor: pointer;
    opacity: .5;
    transition: all 1s;
}

nav svg:hover {
    opacity: 1;
    transform: rotate(280deg);
}

#light-mood {
    display: none;
    filter: invert(1);
}



/* ======================================================= */
/* ----------------- ArtBoard Section -------------------- */
/* ======================================================= */


.tools-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px;
    background-color: var(--bg_gray_semi_TP_color);
    border-bottom:1px solid var(--border_gray_semi_TP_color);
}

.tool{
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 5px 1rem;
    align-items: center;
}

.tool svg {
    margin: 0px 4px;
}

.tool span{
    display: none;
}

.active-tool{
    background-color: rgba(104, 104, 104, 0.529);
}

#select-color {
    overflow: hidden;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
}
#select-color::-webkit-color-swatch-wrapper {
    padding: 0;
}

.set-artboard-size {
    padding: var(--mobile_box_padding);
    background-color: var(--bg_gray_semi_TP_color);
    border-bottom:1px solid var(--border_gray_semi_TP_color);
    border-radius: 0px 0px 20px 20px;
    
}

.set-artboard-size input{
    width: 100%;
}









@media (min-width: 430px) {
    .tool span{
        display: block;
    }
    
}